main {
  .about {
    padding: 2rem 0;
    background-image: url(../images/grey-background.png);
    background-position: center;
    background-size: contain;
    background-repeat: repeat;
    height: auto;

    .about-first {
      padding: 1rem 0;
      max-width: 1200px;
      margin: 0 auto;

      @include tablet {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-content: center;
        column-gap: 1rem;
        padding: 2rem 0;
      }

      @include laptop {
        padding: 3rem 0;
      }

      .picture {
        //smax-width: 450px;
        img {
          @include tablet {
            transform: scale(1.2);
          }

          @include laptop {
            transform: scale(0.9);
          }
        }
      }

      .content {
        @include tablet {
          width: 85%;
          margin-left: auto;
        }

        @include laptop {
          width: 75%;
          margin-right: auto;
        }
      }
    }

    .picture {
      width: 100%;

      img {
        width: 100%;
      }
    }

    .about-second {
      @include laptop {
        width: 80%;
        margin: 0 auto;
      }
      @include tablet {
        display: grid;
        grid-template-columns: 420px auto;
        align-items: center;
        padding: 1.5rem 0;
      }

      @include laptop {
        grid-template-columns: 480px auto;
        //column-gap: 1rem;
        //justify-content: space-around;
        margin-bottom: 7rem;
      }

      .white-plate {
        margin: 3rem auto;
        padding-left: 1rem;
        padding: 2rem 0;
        transform: scale(1.35);

        @include tablet {
          width: 50rem;
          order: 1;
          padding-left: 2rem;
          transform: scale(1);
          margin: 0 auto;
          //right: 50px;
          //transform: rotate(90deg);
        }

        @include laptop {
          transform: scale(1.1);
          position: relative;
          right: -100px;
        }

        img {
          width: 100%;
        }
      }

      .about-second-nested {
        .picture {
          width: 100%;
          @include tablet {
            margin-top: 5rem;
          }
        }

        // .content {
        //   @include laptop {
        //     // width: 80%;
        //     margin-left: auto;
        //   }
        // }
      }
    }

    #offers-main {
      @include laptop {
        padding: 2rem 0 4rem;
        max-width: 1200px;
        margin: 0 auto;
      }
    }
    .section-head {
      display: grid;
      @include tablet {
        grid-template-columns: 300px auto;
        align-items: center;
        column-gap: 1.5rem;

        &:last-child {
          margin-left: auto;
        }
      }

      @include laptop {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 3rem;
      }
    }

    .offers {
      margin-top: 2rem;

      @include tablet {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
      }

      @include laptop {
        gap: 2rem;
      }
      .offer-item {
        @include flex-reg;
        padding: 1rem 0;

        .icon {
          width: 10rem;
          padding-right: 1rem;
          img {
            width: 100%;
          }
        }

        .offer-heading {
          font-weight: $fw-black;
          font-size: $fs-sml-heading;
          text-transform: uppercase;
          letter-spacing: 1px;
        }

        p.para {
          margin: 0.3rem 0;
        }
      }
    }
  }
}
