main {
  .contact {
    @include laptop {
      padding: 3rem 0;
    }
    .contact-main {
      @include tablet {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 3rem;
        align-items: center;
        justify-content: center;
      }

      .contact-head {
        @include laptop {
          width: 70%;
          margin: 0 auto;
        }
      }
    }
    padding: 3rem 0;
    background-image: url(../images/grey-background.png);
    background-position: center;
    background-size: contain;
    background-repeat: repeat;
    height: auto;

    .picture {
      width: 100%;
      img {
        width: 100%;
      }
    }
    form {
      @include laptop {
        width: 80%;
      }
      label {
        display: block;
        padding: 0.5rem 0;
        font-weight: $fw-semi-bold;
      }

      input,
      textarea {
        width: 100%;
        background: rgba(255, 255, 255, 0.4);
        padding: 0.5rem;
        border: 2px solid grey;
        border-radius: 5px;
        font-family: "Poppins", sans-serif;
      }
    }
  }
}
