@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Paytone+One&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}

.container {
  width: 85%;
  margin: 0 auto;
}

.logo {
  font-family: "Paytone One", sans-serif;
  color: white;
  font-size: 1.5rem;
}

button {
  margin: 1rem 0;
}

.btn {
  color: white;
  background-color: #84b121;
  border: none;
  border-radius: 10px;
  padding: 0.8rem 1.5rem;
  text-transform: capitalize;
  font-size: 1rem;
  font-weight: 600;
}

p.sub-heading {
  font-weight: 600;
  color: #425d06;
  font-size: 1.2rem;
}

header {
  background-image: url("https://images.unsplash.com/photo-1499028344343-cd173ffc68a9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

header nav {
  padding: 1.5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .intro {
  margin-top: 3.5rem;
}

@media (min-width: 768px) {
  header .intro {
    width: 70%;
    margin-top: 7.5rem;
  }
}

header .intro p.intro-heading {
  color: white;
  text-transform: uppercase;
  font-size: 3rem;
  line-height: 1;
}

@media (min-width: 768px) {
  header .intro p.intro-heading {
    font-size: 4rem;
  }
}

header .intro p.intro-heading .heading-bold {
  color: #ff0000;
  font-size: 5rem;
  font-weight: 900;
}

@media (min-width: 768px) {
  header .intro p.intro-heading .heading-bold {
    font-size: 7rem;
  }
}

header .intro p.intro-para {
  color: white;
  text-transform: capitalize;
  padding: 1rem 0;
  line-height: 1.5;
  font-weight: 500;
  width: 85%;
}

main {
  overflow: hidden;
}

main .about {
  padding: 2rem 0;
  background-image: url(../images/grey-background.png);
  background-position: center;
  background-size: contain;
  background-repeat: repeat;
  height: auto;
}

@media (min-width: 768px) {
  main .about-first {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  main .about-first .content {
    width: 90%;
    margin-left: auto;
  }
}

main .picture {
  width: 100%;
}

main .picture img {
  width: 100%;
}

main p.heading {
  font-size: 2.7rem;
  text-transform: uppercase;
  line-height: 1;
}

main p.heading span {
  font-weight: 900;
  color: #ff0000;
}

main p.para {
  margin: 1rem 0;
  font-size: 0.9rem;
  text-transform: capitalize;
}

main .about-second {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 420px auto;
      grid-template-columns: 420px auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .about-second .white-plate {
  position: relative;
  width: 40rem;
  right: 140px;
  margin-top: 2rem;
}

@media (min-width: 768px) {
  main .about-second .white-plate {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    right: 30px;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}

main .about-second .white-plate img {
  width: 100%;
}

main .about-second .about-second-nested .picture {
  width: 100%;
}

main .about-second .about-second-nested .picture img#sml {
  width: 90%;
}

main .offers {
  margin-top: 2rem;
}

main .offers .offer-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem 0;
}

main .offers .offer-item .icon {
  width: 10rem;
  padding-right: 1rem;
}

main .offers .offer-item .icon img {
  width: 100%;
}

main .offers .offer-item .offer-heading {
  font-weight: 900;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

main .offers .offer-item p.para {
  margin: 0.3rem 0;
}

main .download {
  padding: 1rem 0;
}

main .download .picture {
  -webkit-transform: scale(1.21);
          transform: scale(1.21);
  padding: 2rem 0;
}

main .download .download-btns button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .download .download-btns button .icon {
  width: 2rem;
  padding-left: 0.5rem;
}

main .download .download-btns button .icon img {
  width: 100%;
}

main .menu {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.1)), to(rgba(255, 255, 255, 0.3))), url(../images/dark-grey-background.png);
  background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.3)), url(../images/dark-grey-background.png);
  background-position: center;
  background-size: cover;
  background-repeat: repeat-y;
  height: auto;
}

main .menu .menu-heading {
  padding: 1rem 0;
  text-align: center;
}

main .menu .courses {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  text-align: center;
}

main .menu .courses p.course-title {
  text-transform: uppercase;
  padding: 0.5rem 0.7rem;
}

main .menu .courses p.course-title:hover, main .menu .courses p.course-title:focus {
  background-color: #84b121;
  color: white;
  border-radius: 10px;
  padding: 0.5rem 0.7rem;
}

main .menu .meal .menu-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem 0;
}

main .menu .meal .menu-items .dish-name {
  text-transform: uppercase;
  font-weight: 600;
}

main .menu .meal .menu-items .dish-info {
  text-transform: capitalize;
  font-size: 0.8rem;
}

main .menu .meal .menu-items .price {
  font-weight: 600;
  padding-left: 1rem;
}

main .menu .faves {
  padding-bottom: 1rem;
}

main .menu .faves .fave-item {
  margin-bottom: 1.2rem;
  background-color: rgba(211, 239, 193, 0.7);
  -webkit-box-shadow: 0px 3.43726px 4.29658px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 3.43726px 4.29658px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .menu .faves .fave-item .item-info {
  margin-right: auto;
  padding-left: 1rem;
}

main .menu .faves .fave-item .price {
  color: #425d06;
  font-weight: 600;
}

main .menu .faves .fave-item button {
  margin: 0;
  position: relative;
  bottom: -15px;
}

main .menu .faves .fave-item .btn {
  padding: 0.5rem 0.8rem;
  font-size: 0.875rem;
}

main .menu .specials {
  background-image: url(../images/taco.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  height: auto;
}

main .menu .specials .picture {
  position: relative;
  width: 30rem;
  top: 30px;
  left: -150px;
  margin-top: 1rem;
  z-index: 1;
}

main .menu .specials .content {
  position: absolute;
  top: 80px;
  left: 160px;
}

main .menu .specials .content p.heading {
  width: 90%;
}

main .contact {
  padding: 3rem 0;
  background-image: url(../images/grey-background.png);
  background-position: center;
  background-size: contain;
  background-repeat: repeat;
  height: auto;
}

main .contact form label {
  display: block;
  padding: 0.5rem 0;
  font-weight: 600;
}

main .contact form input,
main .contact form textarea {
  width: 100%;
  background: rgba(255, 255, 255, 0.4);
  padding: 0.5rem;
  border: 2px solid grey;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
}

main footer {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(31, 45, 1, 0.9)), to(rgba(31, 45, 1, 0.9))), url(../images/footer-img.png);
  background-image: linear-gradient(rgba(31, 45, 1, 0.9), rgba(31, 45, 1, 0.9)), url(../images/footer-img.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;
  color: white;
  padding: 2rem 0 1rem;
}

main footer p.sub-heading {
  color: white;
  padding-bottom: 0.5rem;
}

main footer .f-links,
main footer .f-download {
  padding: 1rem 0;
}

main footer ul {
  list-style: none;
}

main footer ul li {
  padding: 0.1rem 0;
}

main footer ul li a {
  color: inherit;
  text-decoration: none;
}

main footer .f-download #f-icon {
  width: 2rem;
}

main footer .f-download p.para {
  font-weight: 500;
}
/*# sourceMappingURL=style.css.map */