@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Paytone+One&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}

.container {
  width: 85%;
  margin: 0 auto;
}

button {
  margin: 1rem 0;
}

.btn {
  color: white;
  background-color: #84b121;
  border: none;
  border-radius: 10px;
  padding: 1rem 1.5rem;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 600;
}

header {
  background-image: url("https://images.unsplash.com/photo-1499028344343-cd173ffc68a9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

header nav {
  padding: 1.5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .logo {
  font-family: "Paytone One", sans-serif;
  color: white;
  font-size: 1.5rem;
}

header .intro {
  margin-top: 3.5rem;
}

header .intro p.intro-heading {
  color: white;
  text-transform: uppercase;
  font-size: 3rem;
  line-height: 1;
}

header .intro p.intro-heading .heading-bold {
  color: #ff0000;
  font-size: 5rem;
  font-weight: 900;
}

header .intro p.intro-para {
  color: white;
  text-transform: capitalize;
  padding: 1rem 0;
  line-height: 1.5;
  font-weight: 500;
  width: 85%;
}

main {
  background-image: url("https://images.unsplash.com/photo-1579492450119-80542d516179?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
  background-position: center;
  background-size: contain;
  background-repeat: repeat;
  height: auto;
  overflow: hidden;
}

main .picture {
  width: 100%;
}

main .picture img {
  padding: 2rem 0;
  width: 100%;
}

main .picture img#sml {
  width: 90%;
}

main p.heading {
  font-size: 2.3rem;
  text-transform: uppercase;
  line-height: 1;
}

main p.heading span {
  font-weight: 900;
  color: #ff0000;
}

main p.para {
  margin: 1rem 0;
  font-size: 0.875rem;
  text-transform: capitalize;
}

main .white-plate {
  position: relative;
  width: 35rem;
  right: 120px;
  margin: 2rem auto;
}

main .white-plate img {
  width: 100%;
}

main .offers {
  margin: 2rem 0;
}

main .offers .offer-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem 0;
}

main .offers .offer-item .icon {
  width: 10rem;
  padding-right: 1rem;
}

main .offers .offer-item .icon img {
  width: 100%;
}

main .offers .offer-item .offer-heading {
  font-weight: 900;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

main .offers .offer-item p.para {
  margin: 0.3rem 0;
}
/*# sourceMappingURL=style.css.map */