@import "variables";

// Global Styles
.container {
  width: 85%;
  margin: 0 auto;
}

.logo {
  font-family: "Paytone One", sans-serif;
  color: callColor("white");
  font-size: 1.5rem;
}

button {
  margin: 1rem 0;
}

.btn {
  color: callColor("white");
  background-color: callColor("green");
  border: none;
  border-radius: 10px;
  padding: 0.8rem 1.5rem;
  text-transform: capitalize;
  font-size: $fs-reg;
  font-weight: $fw-semi-bold;
}

p.sub-heading {
  font-weight: $fw-semi-bold;
  color: callColor("darkGreen");
  font-size: $fs-sml-heading;
}

// Main Styles
header {
  background-image: url("https://images.unsplash.com/photo-1499028344343-cd173ffc68a9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;

  nav {
    padding: 1.5rem 0;
    @include flex-between;
  }

  .intro {
    margin-top: 3.5rem;

    p.intro-heading {
      color: callColor("white");
      text-transform: uppercase;
      font-size: 3rem;
      line-height: 1;

      .heading-bold {
        color: callColor("red");
        font-size: 5rem;
        font-weight: $fw-black;
      }
    }

    p.intro-para {
      color: callColor("white");
      text-transform: capitalize;
      padding: 1rem 0;
      line-height: 1.5;
      font-weight: $fw-medium;
      width: 85%;
    }
  }
}

main {
  overflow: hidden;

  .about {
    padding: 2rem 0;
    background-image: url(../images/grey-background.png);
    background-position: center;
    background-size: contain;
    background-repeat: repeat;
    height: auto;
  }

  .picture {
    width: 100%;

    img {
      width: 100%;
    }

    img#sml {
      width: 90%;
    }
  }

  p.heading {
    font-size: $fs-heading;
    text-transform: uppercase;
    line-height: 1;

    span {
      font-weight: $fw-black;
      color: callColor("red");
    }
  }

  p.para {
    margin: 1rem 0;
    font-size: 0.9rem;
    text-transform: capitalize;
  }

  .white-plate {
    position: relative;
    width: 40rem;
    right: 140px;
    margin-top: 2rem;

    img {
      width: 100%;
    }
  }

  .offers {
    margin-top: 2rem;
    .offer-item {
      @include flex-reg;
      padding: 1rem 0;

      .icon {
        width: 10rem;
        padding-right: 1rem;
        img {
          width: 100%;
        }
      }

      .offer-heading {
        font-weight: $fw-black;
        font-size: $fs-sml-heading;
        text-transform: uppercase;
        letter-spacing: 1px;
      }

      p.para {
        margin: 0.3rem 0;
      }
    }
  }

  .download {
    padding: 1rem 0;

    .picture {
      transform: scale(1.21);
      padding: 2rem 0;
    }

    .download-btns {
      button {
        @include flex-between;

        .icon {
          width: 2rem;
          padding-left: 0.5rem;
          img {
            width: 100%;
          }
        }
      }
    }
  }

  .menu {
    background-image: linear-gradient(
        rgba(255, 255, 255, 0.1),
        rgba(255, 255, 255, 0.3)
      ),
      url(../images/dark-grey-background.png);
    background-position: center;
    background-size: cover;
    background-repeat: repeat-y;
    height: auto;

    .menu-heading {
      padding: 1rem 0;
      text-align: center;
    }

    .courses {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      text-align: center;

      p.course-title {
        text-transform: uppercase;
        padding: 0.5rem 0.7rem;
        &:hover,
        &:focus {
          background-color: callColor("green");
          color: callColor("white");
          border-radius: 10px;
          padding: 0.5rem 0.7rem;
        }
      }
    }

    .meal {
      .menu-items {
        @include flex-reg;
        padding: 1rem 0;

        .dish-name {
          text-transform: uppercase;
          font-weight: $fw-semi-bold;
        }

        .dish-info {
          text-transform: capitalize;
          font-size: 0.8rem;
        }

        .price {
          font-weight: $fw-semi-bold;
          padding-left: 1rem;
        }
      }
    }

    .faves {
      padding-bottom: 1rem;
      .fave-item {
        margin-bottom: 1.2rem;
        background-color: callColor("lightGreen");
        box-shadow: 0px 3.43726px 4.29658px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        padding: 0.5rem;
        @include flex-between;

        .item-info {
          margin-right: auto;
          padding-left: 1rem;
        }
        .price {
          color: callColor("darkGreen");
          font-weight: $fw-semi-bold;
        }

        button {
          margin: 0;
          position: relative;
          bottom: -15px;
        }

        .btn {
          padding: 0.5rem 0.8rem;
          font-size: 0.875rem;
        }
      }
    }

    .specials {
      background-image: url(../images/taco.png);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      overflow: hidden;
      height: auto;

      .picture {
        position: relative;
        width: 30rem;
        top: 30px;
        left: -150px;
        margin-top: 1rem;
        z-index: 1;
      }

      .content {
        position: absolute;
        top: 80px;
        left: 160px;

        p.heading {
          width: 90%;
        }
      }
    }
  }

  .contact {
    padding: 3rem 0;
    background-image: url(../images/grey-background.png);
    background-position: center;
    background-size: contain;
    background-repeat: repeat;
    height: auto;

    form {
      label {
        display: block;
        padding: 0.5rem 0;
        font-weight: $fw-semi-bold;
      }

      input,
      textarea {
        width: 100%;
        background: rgba(255, 255, 255, 0.4);
        padding: 0.5rem;
        border: 2px solid grey;
        border-radius: 5px;
        font-family: "Poppins", sans-serif;
      }
    }
  }

  footer {
    background-image: linear-gradient(
        rgba(31, 45, 1, 0.9),
        rgba(31, 45, 1, 0.9)
      ),
      url(../images/footer-img.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    color: callColor("white");
    padding: 2rem 0 1rem;

    p.sub-heading {
      color: callColor("white");
      padding-bottom: 0.5rem;
    }
    .f-links,
    .f-download {
      padding: 1rem 0;
    }

    ul {
      list-style: none;
      li {
        padding: 0.1rem 0;
        a {
          color: inherit;
          text-decoration: none;
        }
      }
    }

    .f-download {
      #f-icon {
        width: 2rem;
      }
      p.para {
        font-weight: $fw-medium;
      }
    }
  }
}
