@import "variables";
@import "header";
@import "about";
@import "download";
@import "menu";
@import "contact";
@import "footer";

// Global Styles
.container {
  width: 85%;
  margin: 0 auto;

  @include tablet {
    width: 90%;
  }

  @include laptop {
    width: 80%;
  }
}

.logo {
  font-family: "Paytone One", sans-serif;
  color: callColor("white");
  font-size: 1.5rem;
}

p.heading {
  font-size: $fs-heading;
  text-transform: uppercase;
  line-height: 1;

  @include tablet {
    font-size: $fs-lg-heading;
  }

  @include laptop {
    font-size: $fs-xl-heading;
  }

  span {
    font-weight: $fw-black;
    color: callColor("red");
  }
}

p.para {
  margin: 1rem 0;
  font-size: 0.9rem;
  text-transform: capitalize;

  @include laptop {
    font-size: $fs-lg-text;
  }
}
button {
  margin: 1rem 0;
}

.btn {
  color: callColor("white");
  background-color: callColor("green");
  border: none;
  border-radius: 10px;
  padding: 0.8rem 1.5rem;
  text-transform: capitalize;
  font-size: $fs-reg;
  font-weight: $fw-semi-bold;
}

p.sub-heading {
  font-weight: $fw-semi-bold;
  color: callColor("darkGreen");
  font-size: $fs-sml-heading;
}

main {
  overflow: hidden;
}
